ion-item {
  --padding-start: 12px;
  --inner-padding-end:  12px;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;

  /**
   * With larger font scales
   * the date/time should wrap to the next
   * line. However, there should be
   * space between the name and the date/time
   * if they can appear on the same line.
   */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


ion-thumbnail {
  --border-radius: 4px;
}



  